<link rel="stylesheet" href="/css/listar.css ">

<body>
    <form action="/proyecto/lista/{{user.id_usuario}}" method="get">

        <div id="contenedor"><br>
            <br>

            <div class="datos">

                {{#each lista}}
                <div id="Nombre">
                    <label><b> {{nombreProyecto}} </b></label>
                </div>

                <div id="Descripcion">
                    <label>{{descripcionProyecto}}</label>
                </div>

                <div id="Mision">
                    <label>{{misionProyecto}}</label>
                </div>

                <div id="Vision">
                    <label>{{visionProyecto}}</label>
                </div>
                
                <div>
                    <a href="/proyecto/editar/{{id_proyecto}}">
                        <button type="button" id="editar">Editar</button>
                    </a>
                    <a href="/proyecto/eliminar/{{id_proyecto}}">
                        <button type="button" id="eliminar">Eliminar</button>
                    </a>
                </div><br>

                {{/each}}
                {{#each detalleLista}}

                <div id="Objetivos">
                    <label>{{objetivosProyecto}}</label>
                </div>
                {{/each}}

            </div>
        </div>
    </form>
    </div>
</body>