<link rel="stylesheet" href="/css/listar.css ">

<form action="/consejo/listar/{{user.id_usuario}}" method="get">

    <div id="contenedor"><br>
        <br>

        <div id="datos">

            {{#each lista}}
            <div id="numeroConsejo">
                <label>Numero de consejo:<b> {{numeroConsejo}} </b></label>
            </div>
                        <div id="descripcionConsejos">
                <label>Descripcion del consejo:<b> {{descripcionConsejos}} </b></label>
            </div>
{{!-- 
            <div id="fechaConsejo">
                <label>Fecha del consejo{{fechaConsejo}}</label>
            </div> --}}


            <div>
                <a href="/consejo/editar/{{id_consejo}}">
                    <button type="button" id="editar">Editar</button>
                </a>
                <a href="/consejo/eliminar/{{id_consejo}}">
                    <button type="button" id="eliminar">Eliminar</button>
                </a>
            </div><br>

            <br>

            {{/each}}

{{!--             {{#each detalleLista}}
            
            <div id="Preguntas">
                <label>{{objetivosPregunta}}</label>
            </div>
            {{/each}} --}}

        </div>
    </div>
</form>
</div>

<div id="agregar">
    <a href="/consejo/agregar/">
        <button type="button" id="agregar"><b> AGREGAR + </b></button>
    </a>
</div>