<link rel="stylesheet" href="/css/listar.css ">

<form action="/rol/lista/{{user.id_usuario}}" method="get">

    <div id="contenedor"><br>
        <br>

        <div id="datos">

            {{#each lista}}
            <div class="row">
                <div id="column" id="lab">
                    <div id="Nombre">
                        <label><b> {{nombreRol}} </b></label>
                    </div>

                    <div id="Descripcion">
                        <label>{{descripcionRol}}</label>
                    </div>
                </div>
                <div id="column" id="butt">
                    <a href="/rol/editar/{{id_rol}}">
                        <button type="button" id="editar">Editar</button>
                    </a>
                    <a href="/rol/eliminar/{{id_rol}}">
                        <button type="button" id="eliminar">Eliminar</button>
                    </a>
                </div>
            </div>
            <br>

            {{/each}}
            {{#each detalleLista}}
            {{/each}}
        </div>
    </div>
</form>
</div>
<div id="agregar">
    <a href="/rol/agregar/{{user.id_usuario}}">
        <button type="button" id="agregar"><b> AGREGAR + </b></button>
    </a>
</div>