<link rel="stylesheet" href="/css/listar.css ">

<form action="/usuario/listar/{{user.id_usuario}}" method="get">

    <div id="controlador"><br>
        <br>

        <div id="contenedor">

            {{#each lista}}
            <div id="Nombre">
                <label>Nombres:<b> {{nombre}} </b></label>
            </div>

            <div id="Apellido">
                <label>Apellidos:{{apellido}}</label>
            </div>

            <div id="username">
                <label>Username:{{username}}</label>
            </div>

            <div id="password">
                <label>Password:{{password}}</label>
            </div>

            <div id="estado">
                <label>Estado: {{estado}}</label>
            </div>

            <div>
                <a href="/usuario/editar/{{id_usuario}}">
                    <button type="button" id="editar">Editar</button>
                </a>
            </div><br>
            {{/each}}

        </div>
    </div>
</form>
</div>
