<link rel="stylesheet" href="/src/public/css/usuarioCrud/editar.css ">
{{#each lista}}
<form action="/proyecto/editar/{{id_proyecto}}" method="post" >

    <div class="crudUsuarioEditar" id="contenedor">

        <div id="tituloContenedor">
            <h1>Editar datos del usuario</h1>
        </div>
        <br>

        <div id="NombreUsuario">
            <label>Nombre de Usuario:</label>
            <input value="{{nombreUsuario}}" type="text" name="nombreUsuario" id="nombre">
        </div>
        <div id="ApellidoUsuario">
            <label>Apellido de Usuario:</label>
            <input value="{{apellidoUsuario}}" type="text" name="apellidoUsuario" id="apellido">
        </div>
        <div id="CedulaUsuario">
            <label>Cedula Usuario:</label>
            <input value="{{cedulaUsuario}}" type="text" name="cedulaUsuario" id="cedula">
        </div>
        <div id="DireccionUsuario">
            <labelDireccion Usuario:</label>
            <input value="{{direccionUsuario}}" type="text" name="direccionUsuario" id="direccion">
        </div>
        <div id="TelefonoUsuario">
            <label>Telefono Usuario:</label>
            <input value="{{telefonoUsuario}" type="text" name="telefonoUsuario" id="telefono">
        </div>
        {{/each}}
        
        <div id="CorreoUsuario">
            <label>Correo Electronico Usuario:</label>
            <input value="{{correoUsuario}}" type="text" name="correoUsuario" id="correo">
        </div>

        <br>             
        <div id="guardar">
            <button type="submit" id="actualizar">Actualizar</button>
        </div>
    </div>
</form>

