<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navbar</title>
    <link rel="stylesheet" href="/css/navegacion.css">
</head>
<body>
  <div id="fondo">
    <nav>
        {{#if user}}
        <button id="nav-boton" onclick="accion()"><b>Menú</b></button>
        <a href="/problemas"><b>Consejos</b></a>
        <a href="/rol/lista/{{user.id_usuario}}"><b>Roles</b></a>
        <a href="/usuario/listar/{{user.id_usuario}}"><b>Usuario</b></a>
        <a href="/agenda/lista/{{user.id_usuario}}"><b>Agenda</b></a>
        <a href="/proyecto/lista/{{user.id_usuario}}"><b>Proyecto</b></a>
        <a href="/pregunta/lista/{{user.id_usuario}}"><b>Preguntas</b></a>
        <a href="/categoria/lista/{{user.id_usuario}}"><b>Categorias</b></a>
        <a href="/cerrar"><b>Cierre Sesión<b></a>
        {{/if}}
      </nav>
    </div>
      
      <script>
        function accion() {
          console.log('está funcionando mi boton');
          var ancla = document.getElementsByClassName('nav-enlace');
          for (var i = 0; i < ancla.length; i++) {
            ancla[i].classList.toggle('desaparece');
          }
        }
      </script>
</body>
</html>