<link rel="stylesheet" href="/css/listar.css ">

<body>
    <form action="/cliente/lista/{{user.id_cliente}}" method="get">

        <div class="controlador"><br>
            <br>

            <div id="contenedor">

                {{#each lista}}
                <div class="row">
                    <div class="column" id="lab">
                        <div id="nombreCliente">
                            <label>{{nombreCliente}}</label>
                        </div>
                        <div id="apellidoCliente">
                            <label>{{apellidoCliente}}</label>
                        </div>
                        <div id="username">
                            <label>{{username}}</label>
                        </div>
                        <div id="direccionCliente">
                            <label>{{direccionCliente}}</label>
                        </div>
                        <div id="celularCliente">
                            <label>{{celularCliente}}</label>
                        </div>
                        <div id="hobbieCliente">
                            <label>{{hobbieCliente}}</label>
                        </div>

                        <div>
                            <a href="/cliente/editar/{{id_cliente}}">
                                <button type="button" id="editar">Editar</button>
                            </a>
                            <a href="/cliente/eliminar/{{id_cliente}}">
                                <button type="button" id="eliminar">Eliminar</button>
                            </a>
                        </div>
                    </div>
                    <br>
                    {{/each}}

                </div>
            </div>
    </form>
    </div>
    <div id="agregar">
        <a href="/cliente/agregar/{{user.id_usuario}}">
            <button type="button" id="agregar"><b> AGREGAR CLIENTE </b></button>
        </a>
    </div>
</body>